{% extends 'main.html' %}
{% load humanize %}
{% load static %}

{% comment %} Page title {% endcomment %}
{% block title %}My Savingz - {{ request.user.username }} {% endblock title %}

{% comment %} Page Body {% endcomment %}
{% block body %}
<!-- ========== Start Hero Section ========== -->
<section id="hero" class="hero">
    <div class="container position-relative">
        <div class="section-title">
            <!-- Output Message message (Bootstrap-v5 only) -->
            {% for msg in messages %}
                {% if msg.level_tag == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-octagon-fill"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg.message}}
                    </div>
                {% else %}
                    <div class="alert alert-{{msg.level_tag}} alert-dismissible fade show" role="alert">
                    <i class="bi bi-{% if msg.level_tag == info %}info-circle-fill{% elif msg.level_tag == warning %}exclamation-triangle-fill{% else %}check-circle-fill{% endif %}"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg.message}}
                    </div>
                {% endif %}
            {% endfor %}
            <h2>
                <span>{{ greeting }}</span> {% firstof request.user.get_full_name request.user.username %}<span>.</span>
            </h2>
            <p>
                On était ensemble dernièrement, <strong>{{ request.user.last_login | naturaltime }} </strong>               
            </p>
        </div>
    </div>
</section>
<!-- ========== End Hero Section ========== -->

<!-- ======= Our Services Section ======= -->
<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Mes Tontines</h2>
            <p>
                <a class="mx-3" href="{% url 'core:new_tontine' pk.id user.username %}"><i class="bi bi-plus-square-dotted"></i> Créer une nouvelle tontine</a> | 
                <a class="mx-3" href="{% url 'core:all_tontines' pk.id user.username %}">Voir toutes mes tontines <i class="bi bi-arrow-right"></i></a>
            </p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

            <!-- 2nd Alternative Pagination -->
            {% comment %} <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-dark" href="?page=1">&laquo; first</a>
                        <a class="btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <button class="btn btn-dark disabled">
                        <strong>Tontines</strong> : Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </button>
            
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div> {% endcomment %}


            <!-- 1nd Alternative Pagination that displays only when the number of pages >= 2 -->

            {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation" class="navbar-dark">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page=1" aria-label="Précédent">
                            <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                            <span class="sr-only">Début</span>
                        </a>
                    </li> 
                    {% endif %}
            
                    {% for n in page_obj.paginator.page_range %}
                        {% if page_obj.number == n %}
                        <li class="page-item active">
                            <span class="page-link fw-bold bg-dark border-dark">Page {{ n }}</span>
                        </li>
                        {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %} 
                        <li class="page-item"><a class="page-link text-dark" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}
        
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Suivant">
                                <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                                <span class="sr-only">Fin</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

            {% if page_obj|length == 0 %}
                <div class="col-lg-12 col-md-12 text-center">
                    <img src="{% static 'images/empty.webp' %}" alt="Aucune tontine" class="img-fluid w-25">
                    <p class="text-muted">
                        Vous n'avez aucune tontine pour le moment.
                    </p>
                </div>
            {% else %}
                {% for item in page_obj %}
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                {% comment %} <i class="bi bi-{{ forloop|continuous_counter:page_obj.number:items_per_page }}-circle"></i> {% endcomment %}
                                <i class="bi bi-{{ page_obj.start_index|add:forloop.counter0 }}-circle"></i>
                            </div>
                            <h3>{{ item.name }}</h3>
                            <p class="fw-bold">
                                {{ item.number_of_members }} membres
                            </p>
                            <p>
                                {{ item.slogan.html|safe }}
                            </p>
                            <a href="{% url 'core:detail_tontine' item.id item.slug %}" class="readmore stretched-link">Poursuivre <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!-- End Service Item -->
                {% endfor %}
            {% endif %}
            
        </div>

        <!-- See all tontines link -->
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="row">
                <div class="see-all w-100 text-end mt-5">
                    <small>
                        <a href="{% url 'core:all_tontines' pk.id user.username %}">Tout voir <i class="bi bi-arrow-right"></i></a>
                    </small>
                </div>
            </div>
        {% endif %}

    </div>
</section><!-- End Our Services Section -->
{% endblock body %}