{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'images/favicon.png' %}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  {% block add_head %}
    
  {% endblock add_head %}
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">support@savingz.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+237 6XX XXX XXX</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>
  <!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'core:home' pk.id user.username %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="images/logo.png" alt=""> -->
        <h1>saving<span>z.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          {% if not request.user.is_authenticated %}
            <li><a href="#hero">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#team">Team</a></li>
            {% comment %} <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li> {% endcomment %}
            <li><a href="#contact">Contact</a></li>
          {% else %}
            <li class="dropdown">
              <a href=""><span>Structure</span> <i class="bi bi-plus dropdown-indicator"></i></a>
              <ul>
                <li class="dropdown">
                  <a href="#"><span>Tontines</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Créer une tontine</a></li>
                    <li><a href="#">Mettre à jour une tontine`</a></li>
                    <li><a href="#">Rechercher une tontine</a></li>
                    <li><a href="#">Dissoudre une tontine</a></li>
                    <li><a href="#">Lister toutes les tontines</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#"><span>Membres</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Ajouter un membre</a></li>
                    <li><a href="#">Mettre à jour un membre</a></li>
                    <li><a href="#">Rechercher un membre</a></li>
                    <li><a href="#">Dissoudre une tontine</a></li>
                    <li><a href="#">Lister les membres d'une tontine</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#"><span>Elections</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Créer une tontine</a></li>
                    <li><a href="#">Mettre à jour une élection</a></li>
                    <li><a href="#">Proposer une nouvelle élection</a></li>
                    <li><a href="#">Annuler une élection</a></li>
                  </ul>
                </li>

                <!-- TODO: Ajouter la gestion des candidatures et des votes -->

                <li class="dropdown">
                  <a href="#"><span>Réunions</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Créer une réunion</a></li>
                    <li><a href="#">Fournir un programme de réunion</a></li>
                    <li><a href="#">Envoyer une notification de réunion aux membres</a></li>
                    <li><a href="#">Signer la liste de présence</a></li>
                    <li><a href="#">Fournir la liste de présence d'une réunion donnée</a></li>
                    <li><a href="#">Rechercher un rapport de réunion.</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href=""><span>Finances</span> <i class="bi bi-plus dropdown-indicator"></i></a>
              <ul>
                <li class="dropdown">
                  <a href="#"><span>Contributions</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Créer une contributions</a></li>
                    <li><a href="#">Tirer le scrutin pour le cycle de contributions</a></li>
                    <li><a href="#">Suspendre une contributions</a></li>
                    <li><a href="#">Confirmer une contributions</a></li>
                    <li><a href="#">Rechercher une contributions</a></li>
                    <li><a href="#">Imprimer la liste des contributions</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#"><span>Prêts</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Demander un prêt</a></li>
                    <li><a href="#">Valider un prêt</a></li>
                    <li><a href="#">Reporter un prêt</a></li>
                    <li><a href="#">Vérifier l'état d'un prêt</a></li>
                    <li><a href="#">Afficher la liste des prêts</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#"><span>Fonds</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Définir un fonds</a></li>
                    <li><a href="#">Mettre à jour un fond</a></li>
                    <li><a href="#">Rechercher un fonds</a></li>
                    <li><a href="#">Supprimer un fond</a></li>
                    <li><a href="#">Afficher la liste des fonds</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#"><span>Mouvements d'actifs</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#"> Appliquer un mouvement d'actifs</a></li>
                    <li><a href="#"> Valider un mouvement d'actifs</a></li>
                    <li><a href="#">Annuler un mouvement d'actifs</a></li>
                    <li><a href="#">Donner la liste des mouvements d'actifs effectués</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href=""><span>Rapports</span> <i class="bi bi-plus dropdown-indicator"></i></a>
              <ul>
                <li class="dropdown">
                  <a href="#"><span>Rapport de groupes</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Afficher les statistiques</a></li>
                    <li><a href="#">Imprimer les statistiques</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#"><span>Rapport des membres</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Afficher les statistiques</a></li>
                    <li><a href="#">Imprimer les statistiques</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          {% endif %}
          <!-- <li> -->
            {% if request.user.is_authenticated %}
              <a href="{% url 'core:app' pk.id user.username %}" class="btn-get-started ms-4">Hi, {{request.user.username}}</a>
            {% else %}
              <a href="{% url 'core:login' %}" class="btn-get-started ms-4">S'enregistrer</a>
            {% endif %}
          <!-- </li> -->
          <li><a href="{% url 'core:logout' %}">Déconnexion</a></li>
        </ul>
      </nav>
      <!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->


    {% block body %}{% endblock body %}


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="{% if nbar == 'home' %}#hero{% else %}{% url 'core:home' pk.id user.username %}{% endif %}" class="logo d-flex align-items-center">
            Saving<span>z.</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Liens Essentiels</h4>
          <ul>
            <li><a href="{% if nbar == 'home' %}#hero{% else %}{% url 'core:home' pk.id user.username %}{% endif %}">Accueil</a></li>
            <li><a href="#">A propos de nous</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Termes d'utilisation</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nos Services</h4>
          <ul>
            <li><a href="#">#########</a></li>
            <li><a href="#">#########</a></li>
            <li><a href="#">#########</a></li>
            <li><a href="#">#########</a></li>
            <li><a href="#">#########</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Nous Contacter</h4>
          <p>
            Université de Yaoundé 1 <br>
            Yaoundé<br>
            Cameroun <br><br>
            <strong>Phone:</strong> +237 6XX XXX XXX<br>
            <strong>Email:</strong> support@savingz.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyrights <strong><span>Savingz.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Credits to <a href="">#########</a>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>