{% extends 'main.html' %}
{% load humanize %}
{% load static %}

{% comment %} Page title {% endcomment %}
{% block title %}My Savingz - les tontines {% endblock title %}

{% comment %} Page Body {% endcomment %}
{% block body %}
<!-- ======= Our Services Section ======= -->
<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Toutes les Tontines sur Savingz.</h2>
            <p>
                <a class="mx-3" href="{% url 'core:app' pk.id user.username %}"><i class="bi bi-arrow-left"></i> Accueil</a> |
                <a class="mx-3" href="{% url 'core:new_tontine' pk.id user.username %}">Créer une nouvelle tontine <i class="bi bi-plus-square-dotted"></i></a>
            </p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
            <!-- Output Message message (Bootstrap-v5 only) -->
            {% for msg in messages %}
                {% if msg.level_tag == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-octagon-fill"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg.message}}
                    </div>
                {% else %}
                    <div class="alert alert-{{msg.level_tag}} alert-dismissible fade show" role="alert">
                    <i class="bi bi-{% if msg.level_tag == info %}info-circle-fill{% elif msg.level_tag == warning %}exclamation-triangle-fill{% else %}check-circle-fill{% endif %}"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg.message}}
                    </div>
                {% endif %}
            {% endfor %}

            {% for tontine in query %}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <h1 title="Tontine #{{ forloop.counter }} - {{ tontine.name }}"><i>#{{ forloop.counter }}</i></h1>
                        </div>
                        <h3>{{ tontine.name }}</h3>
                        <p>
                            Crée par <span class="fw-bold">{% firstof tontine.owner.get_full_name tontine.owner.username %}</span>
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">Capacité : {{ tontine.number_of_members }} membres</li>
                            <li class="list-group-item">Crée le : {{ tontine.creation_date }} ({{ tontine.creation_date|naturaltime }})</li>
                        </ul>
                        <a href="{% url 'core:detail_tontine' pk.id user.username tontine.id tontine.slug %}" class="readmore stretched-link">Rejoindre <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <!-- End Service Item -->
            {% endfor %}
            
        </div>

    </div>
</section><!-- End Our Services Section -->
{% endblock body %}